@charset "UTF-8";
header {
	padding: 10px 20px;
	color: #fff;
	background-color: #428BCA;
	/*background-color: #151515;*/
	text-align: center;
	margin-bottom: 10px;
	letter-spacing: 1px;
}

.nav-tabs {
	border-bottom: 4px solid #428BCA;
	margin-bottom: 10px;
	overflow: hidden;
}
.nav-tabs li,.nav-tabs li a {
	border-radius: 5px 5px 0 0;
}
.nav-tabs li a {
	border-top: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	color: #666;
	background: #428bca; /* Old browsers */
background: -moz-linear-gradient(top,  #428bca 0%, #ffffff 0%, #f9f9f9 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#428bca), color-stop(0%,#ffffff), color-stop(100%,#f9f9f9)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #428bca 0%,#ffffff 0%,#f9f9f9 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #428bca 0%,#ffffff 0%,#f9f9f9 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #428bca 0%,#ffffff 0%,#f9f9f9 100%); /* IE10+ */
background: linear-gradient(to bottom,  #428bca 0%,#ffffff 0%,#f9f9f9 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#428bca', endColorstr='#f9f9f9',GradientType=0 ); /* IE6-9 */

}
.nav-tabs li.active a {
	border-top: none;
	border-left: none;
	border-right: none;
	background: #428BCA;
}
.btn-group-lg {
	margin: 20px 0;
	width: 100%;
}
.btn-group-lg label.btn {
	border: 1px solid #ccc;
	color: #666;
	font-size: 14px;
	background: #428bca; /* Old browsers */
	background: -moz-linear-gradient(top,  #428bca 0%, #ffffff 0%, #f9f9f9 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#428bca), color-stop(0%,#ffffff), color-stop(100%,#f9f9f9)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #428bca 0%,#ffffff 0%,#f9f9f9 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #428bca 0%,#ffffff 0%,#f9f9f9 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #428bca 0%,#ffffff 0%,#f9f9f9 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #428bca 0%,#ffffff 0%,#f9f9f9 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#428bca', endColorstr='#f9f9f9',GradientType=0 ); /* IE6-9 */
}
.btn-group-lg label.btn.active {
	box-shadow: none;
	background: #3276B1;
	color: #fff;
}
.submit-button {
	background: #428bca; /* Old browsers */
	background: -moz-linear-gradient(top,  #428bca 0%, #ffd154 0%, #ff922d 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#428bca), color-stop(0%,#ffd154), color-stop(100%,#ff922d)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #428bca 0%,#ffd154 0%,#ff922d 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #428bca 0%,#ffd154 0%,#ff922d 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #428bca 0%,#ffd154 0%,#ff922d 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #428bca 0%,#ffd154 0%,#ff922d 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#428bca', endColorstr='#ff922d',GradientType=0 ); /* IE6-9 */
	color: #fff;
	text-shadow: 1px 1px 0px rgba(255, 146, 45,1);
}
input[name="people"] {
	width: 20%;
	display: inline-block;
	margin-right: 5px;
}
.mod-searchResult {
	padding: 15px 10px;
	border-bottom: 1px solid #ccc;
}
.mod-searchResult__name {
	margin-top: 0;
	font-weight: normal;
	font-size: 16px;
}
.content h1 {
	font-size: 20px;
}
.is-available {
	background: #428bca; /* Old browsers */
background: -moz-linear-gradient(top,  #428bca 0%, #428bca 0%, #2880c9 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#428bca), color-stop(0%,#428bca), color-stop(100%,#2880c9)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #428bca 0%,#428bca 0%,#2880c9 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #428bca 0%,#428bca 0%,#2880c9 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #428bca 0%,#428bca 0%,#2880c9 100%); /* IE10+ */
background: linear-gradient(to bottom,  #428bca 0%,#428bca 0%,#2880c9 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#428bca', endColorstr='#2880c9',GradientType=0 ); /* IE6-9 */
color: #fff;
}
.mod-seatType {
	border: none;
	color: #fff;
	background-color: #ccc;
}