<div class="mod-searchResult">
<div class="row">
  <div class="col-md-6 col-xs-6">
    <h3 class="mod-searchResult__name"><%- name %></h3>
    <div class="mod-searchResult__detail">
      <p><%- date %>
      <p><%- startTime %> 〜 <%- endTime %>
    </div>
  </div>
  <div class="col-md-6 col-xs-6">
    <div class="mod-searchResult__seatType">
      <button class="btn btn-default mod-seatType <% if(seatStatus[0]) { %> is-available <% } %>" onclick="st.preserveBackward({ index:<%= index %>, seatType: 0})">窓際</button>
      <button class="btn btn-default mod-seatType <% if(seatStatus[1]) { %> is-available <% } %>" onclick="st.preserveBackward({ index:<%= index %>, seatType: 1})">通路側</button>
      <button class="btn btn-default mod-seatType <% if(seatStatus[2]) { %> is-available <% } %>" onclick="st.preserveBackward({ index:<%= index %>, seatType: 2})">どちらでも</button>
    </div>
  </div>
</div>
</div>